@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* ==== LA STRUCTURE HTML DE BASE ==== */

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #fbf7f2;
}

#container {
    width: 1100px;
    padding: 40px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

p {
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}

h2 {
    margin: 0;

    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: grey;
}

#title {
    width: 100%;
    height: 20%;

    display: flex;
    flex-direction: column;
    gap: 10px;
}







/* ===== LA GRILLE, SES CASES ET POP UP ===== */

.chart {
    width: 100%;
    min-height: 100px;

    display: grid;
    position: relative;


    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}


.cell {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.3s ease;
}

.data {
    position: relative;
}


/* quadrillage */
.data::before {
    content: "";
    position: absolute;
    inset: 0;

    pointer-events: none;

    background:
        linear-gradient(to right, transparent 48%, #e5e5e5 49%, transparent 52%),
        linear-gradient(to bottom, transparent 48%, #e5e5e5 49%, transparent 52%);
}

/* pop up */
.dataInfo {
    position: absolute;
    z-index: 2;

    bottom: -6px;
    left: 50%;
    transform: translateX(-50%) translateY(100%);

    width: 110px;
    padding: 8px 10px;

    text-align: center;
    font-size: 10px;

    background: #2a2a2a;
    color: #e8e8e8;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: 0.15s;
}

.data:hover .dataInfo {
    opacity: 1;
    visibility: visible;
}

.arrow {
    position: absolute;
    top: -6px;
    left: 50%;
    transform: translateX(-50%);

    width: 0;
    height: 0;

    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #2a2a2a;
}


.circle {
    position: relative;
    z-index: 1;

    aspect-ratio: 1;
    border-radius: 50%;
    cursor: pointer;
}






/* ===== LE LOADER ===== */

#loader {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 100px;
    height: 100px;

    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;

    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@media (max-width: 900px) {
    .cell {
        font-size: 10px;
    }
}

@media (max-width: 700px) {
    .cell {
        font-size: 8px;
    }
}